.localrc
.localgitconfig

.vim/.backup/
.vim/doc/tags
.vim/.netrwhist
.chef/checksums

emacs.d/*~
emacs.d/*.elc
emacs.d/auto-save-list
emacs.d/recentf
emacs.d/savehist
emacs.d/saveplace
emacs.d/eshell
emacs.d/elpa
emacs.d/el-get
emacs.d/semanticdb
emacs.d/url
emacs.d/ede-projects.el
emacs.d/.DS_Store
emacs.d/custom.el
emacs.d/places
emacs.d/.smex-items
emacs.d/savefile/
