[submodule ".vim/bundle/stripper"]
	path = .vim/bundle/stripper
	url = git://github.com/itspriddle/vim-stripper.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule ".vim/bundle/gnupg"]
	path = .vim/bundle/gnupg
	url = git://gitorious.org/vim-gnupg/vim-gnupg.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/rspec"]
	path = .vim/bundle/rspec
	url = git://github.com/skwp/vim-rspec.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/liquid"]
	path = .vim/bundle/liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule ".vim/bundle/jquery"]
	path = .vim/bundle/jquery
	url = git://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/javascript-indent"]
	path = .vim/bundle/javascript-indent
	url = git://github.com/itspriddle/vim-javascript-indent.git
[submodule ".vim/bundle/haml"]
	path = .vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/jekyll"]
	path = .vim/bundle/jekyll
	url = git://github.com/itspriddle/vim-jekyll.git
[submodule ".vim/bundle/zoomwin"]
	path = .vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
